<div class="ui menu">
<%= link_to 'Physicians', physicians_path, class: "item" %>
<%= link_to 'Add Physician', new_physician_path, class: "item"  %>
<%= link_to 'Patients', patients_path, class: "item" %>
<%= link_to 'Add Patient', new_patient_path, class: "item" %>
</div>
