<div class="ui menu">
<%= link_to 'Physicians', physicians_path %>
<%= link_to 'Add Physician', new_physician_path %>
<%= link_to 'Patients', patients_path %>
<%= link_to 'Add Patient', new_patient_path %>
</div>